<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="img/my-logo.png" alt="" class="img-fluid rounded-circle">
      <!-- <h1 class="text-light"><a href="index.html">Alex Smith</a></h1> -->
    </div>

    <nav class="nav-menu">
      <ul>
        <!-- <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li> -->

        <li><a href="/home"><i class="bx bx-file-blank"></i> <span>Home</span></a></li>
        <li><a href="/about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="/projects"><i class="bx bx-book-content"></i> Projects</a></li>
        <li><a href="/services"><i class="bx bx-server"></i> Services</a></li>
        <li><a href="/contact"><i class="bx bx-envelope"></i> Contact</a></li>

        <%if(currentUser){%>
          <li><a href="/business"><i class="bx bx-envelope"></i> Business Contact</a></li>
          <li><a href="/logout"><i class="bx bx-arrow-to-top"></i> Logout</a></li>
          <% } else { %>
            <li><a href="/login"><i class="bx bx-arrow-to-bottom"></i> Login</a></li>
            <% } %>

      </ul>
    </nav><!-- .nav-menu -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  </div>
</header><!-- End Header -->