<%- include('../partials/head')-%>

    <body>
        <%- include('../partials/header')-%>
            <main id="main">
                <!-- ======= Services Section ======= -->
                <section id="services" class="services">
                    <div class="container">

                        <div class="section-title">
                            <h2>Services</h2>
                            <p>Services Offered</p>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                                <div class="icon"><i class="icofont-computer"></i></div>
                                <h4 class="title"><a href="">Web Designing</a></h4>
                                <p class="description">Design pages using HTML,CSS
                                    Design pages in Wordpress
                                    Domain and Hosting setup
                                    Domain Email setup</p>
                            </div>
                            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                                <h4 class="title"><a href="">Mobile Application Testing</a></h4>
                                <p class="description">Test your software for functionality
                                    Automated testing using appium software
                                    Manual testing of the apps over different operating system</p>
                            </div>
                            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon"><i class="icofont-image"></i></div>
                                <h4 class="title"><a href="">Web Development</a></h4>
                                <p class="description">Write and develop code for an application using Java
                                    script,Java,Python
                                    Test the code for functionality using selenium web driver
                                    Allign application according to business goals
                                    JIRA</p>
                            </div>
                            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="icofont-earth"></i></div>
                                <h4 class="title"><a href="">Software Testing</a></h4>
                                <p class="description">
                                    Software Testing
                                    Software Testing is a method to check whether the actual software product matches
                                    expected requirements and to ensure that software product is Defect free. It
                                    involves execution of software/system components using manual or automated tools to
                                    evaluate one or more properties of interest. The purpose of software testing is to
                                    identify errors, gaps or missing requirements in contrast to actual</p>
                            </div>

                        </div>

                    </div>
                </section><!-- End Services Section -->
            </main>
            <%- include('../partials/footer')-%>
    </body>
    <script>
        window.onload = function () {
            document.getElementById('services').classList.add('active');
        };
    </script>

    </html>
